{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Docencia {% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'w3/w3.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'boostrap/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'boostrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'calendar/css/responsive-calendar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'elijosoft/elijosoft.css' %}">
    <script src="{% static 'jquery/jquery-3.2.0.min.js' %}"></script>
    <script src="{% static 'boostrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'elijosoft/ajaxdjango.js' %}"></script>
    <script src="{% static 'calendar/js/responsive-calendar.js' %}"></script>
    <script src="{% static 'elijosoft/ControlWidget.js' %}"></script>
</head>
<style>
    a {
        color: black;
    }
</style>
<body>
    {% block menu %}{% endblock %}
    <div class="w3-container" style="background-color: #4c4b4b;">
        <div class="w3-row">
            <div class="w3-rest w3-small">
                    {% block seccion %}{% endblock %}
                <br><br><br>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            try {
                var fileUpload = document.getElementById('id_image');
                fileUpload.onchange = function (e) {
                    readFile(e.srcElement);
                };
            }catch (e) {

            };

            $('[data-toggle="tooltip"]').tooltip();

            $(".responsive-calendar").responsiveCalendar({
              events: {}
            });
        });

        function w3_open() {
          document.getElementById("mySidenav").style.display = "block";
          document.getElementById("myOverlay").style.display = "block";
        }

        function w3_close() {
          document.getElementById("mySidenav").style.display = "none";
          document.getElementById("myOverlay").style.display = "none";
        }

        function readFile(input) {
            if (input.files && input.files[0]){
                var reader = new FileReader();
                reader.onload = function (e) {
                    var filePreview= document.getElementById('image_preview');
                    filePreview.src = e.target.result;
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
</body>
</html>