{% extends 'base/base_tables.html' %}
{% block titulo_seccion %}Estudiantes Seleccionados a {{ course.name }}
<span class="w3-right" title="Imprimir Todo">
    <a target="_blank" href="{% url 'view_studentsCarnets' course.pk %}">
    <button 
        class="es-shadow w3-btn w3-teal w3-hover-white w3-round w3-round-large w3-large w3-text-white w3-hover-text-teal" type="button">
            <i class="fa fa-address-card"></i>
    </button>
    </a>
</span>{% endblock %}
{% block seccion %}
    <div class="w3-row-padding">
        <div class="w3-row-padding w3-card-2">
            
        </div>
        <table class="w3-table-all w3-hoverable w3-small" id="id_candidate_table">
            <tr class="w3-row w3-center">
                <th class="w3-half">
                    Nombre
                </th>
                <th class="w3-quarter">Opciones
                </th>
                <th class="w3-quarter">
                    Grupo
                </th>
            </tr>
            <tbody id="id_table_body">
            </tbody>
        </table>
    </div>
    <script>
    var candidateControl = new CandidateToGroup(
        "candidateControl", 
        "id_table_body", 
        "{% url 'view_candidate_to_group_select' %}", 
        {{ pk }}
    );

    {% for candidate in candidates %}
        var candidate = new Candidate();
        candidate.pk = {{ candidate.pk }};
        candidate.name = "{{ candidate.student.name }}";
        candidate.lastname = "{{ candidate.student.lastname }}";
        candidate.urlCarnet = "{% url 'view_studentCarnet' candidate.student.pk %}";

        {% for studentGroup in studentsGroup %}
            {% ifequal studentGroup.student.pk candidate.pk %}
                candidate.groupPk = {{ studentGroup.group.pk }};
            {% endifequal %}
        {% endfor %}

        candidateControl.addCandidate(candidate);
    {% endfor %}

    {% for group in groups %}
        var group = new Group({{ group.pk }}, "{{ group.name }}");
        candidateControl.addGroup(group);
    {% endfor %}

    candidateControl.agregar(candidateControl.candidates);
    </script>
{% endblock %}