{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carnet</title>
</head>
<body style="margin-top: 25px; margin-left: 10px;">
    <div style="margin-top: 10px; margin-left: 10px;">
        <div style="width: 321px; height: 208px; border: 1px dashed white;">            
            <img style="position: absolute; z-index: -1;border: 1px dashed gray;" 
            src="{% static 'image/perfil/student/carnet/carnet.png' %}">

            <img src="/{{ student.qrcode }}" height="101px" style="z-index: 3; position: absolute; margin-left: 204px; margin-top: 93px; !important">

            <small style="position: absolute; z-index: 2; margin-left: 40px; font-size: 10px; margin-top: 100px;">Nombre:</small>

            <p style="position: absolute; z-index: 2; margin-top:120px; margin-left: 40px; font-size: 12px;">{{ student.name }}<br>{{ student.lastname }}</p>

            <small style="position: absolute; z-index: 2; margin-left: 40px; font-size: 10px; margin-top: 160px;">ID:</small>

            <p style="z-index: 2; margin-top: 180px; margin-left: 40px; font-size: 12px;">{{ student.numberidentification }}</p>
        </div>        
    </div>
</body>
</html>