{% extends 'base/base_tables.html' %}
{% block titulo_seccion %}Candidatos a {{ course_name }}
    <div class="w3-right">
        <a href="{% url 'view_candidate_to_group' pk %}">
            <button class="w3-btn w3- w3-small">Siguiente <i class="fas fa-angle-double-right"></i></button>
        </a>
    </div>
{% endblock %}
{% block seccion %}
    <div class="w3-row-padding w3-padding w3-opacity w3-small w3-panel w3-light-gray w3-margin w3-card-4" style="vertical-align: middle;">
        <div class="w3-twothird w3-section">
            <input class="w3-input w3-round w3-animate-input w3-border" style="width:135px" name="search"
                   id="id_search" type="search" placeholder="Buscar ..."
                   onkeyup="candidatesControl.buscador();">
            <small class="w3-tiny w3-opacity" id="id_search_result"></small>
        </div>
        <div class="w3-third" style="margin-top: 2%">
            <div class="w3-half w3-center">
                <div class="w3-container w3-center">
                    <span id="id_many_interview" class="w3-opacity w3-small">Ninguna Entrevista</span><br>
                      <label class="es-switch w3-small">
                      <input type="checkbox" id="id_search_interview"
                             onchange="candidatesControl.buscador()">
                          <div class="es-slider es-round"></div>
                      </label>
                </div>
            </div>
            <div class="w3-half w3-center">
                <div class="w3-container w3-center">
                    <span id="id_many_selected" class="w3-opacity w3-small">Ningun Seleccionado</span><br>
                      <label class="es-switch w3-small">
                      <input type="checkbox" id="id_search_selected"
                             onchange="candidatesControl.buscador()">
                          <div class="es-slider es-round"></div>
                      </label>
                </div>
            </div>
        </div>
    </div>
    <div class="w3-row-padding">
        <div id="id_candidate_list">
        </div>
        <div id="id_candidate_edit_flag">
        </div>
    </div>
    <script>
        setInterval(manyOptions, 2000);

        var candidatesControl = new CandidateControl("candidatesControl", "id_candidate_list",
            "{% url 'view_candidate_interview' %}", "{% url 'view_candidate_selected' %}", "id_search_interview",
            "id_search_selected", $("#id_search"));

        {% for candidate in candidates %}
            var candidate = new Candidate();
            candidate.pk = {{ candidate.pk }};
            candidate.name = "{{ candidate.student.name }}";
            candidate.lastname = "{{ candidate.student.lastname }}";
            candidate.interview = {% if candidate.interview %}true{% else %}false{% endif %};
            candidate.selected = {% if candidate.selected %}true{% else %}false{% endif %};

            candidatesControl.addCandidate(candidate);
        {% endfor %}

        candidatesControl.agregar(candidatesControl.candidates);

        function manyOptions() {
            $.ajax({
                url: "{% url 'view_candidate_many' %}",
                type: "POST",
                data: {
                    course: {{ pk }},
                },
                success: function (json) {
                    const interview = plural(JSON.parse(json.interview), "a");
                    const selected = plural(JSON.parse(json.selected));

                    $("#id_many_interview").html(interview[0] + " Entrevista" + interview[1]);
                    $("#id_many_selected").html(selected[0] + " Seleccionado" + selected[1]);
                },
                error: function (xhr, errmsg, err) {
                    console.log(errmsg, err);
                }
            });
        }

        function plural(cant, s="") {
            if (cant > 1)
                return [cant, "s"];
            else if (cant === 1)
                return ["Un" + s, ""];
            else
                return ["Ningun" + s, ""];
        }
    </script>
{% endblock %}