{% extends "base/base.html" %}
{% block titulo %}Nuevo Curso{% endblock %}
{% block titulo_seccion %}Nuevo Curso{% endblock %}
{% block seccion %}
    <form method="post" enctype="multipart/form-data" class="w3-form w3-container w3-animate-right">
        {% csrf_token %}
        <div class="w3-row">
            <div class="w3-half w3-hide-small" style="color: white; margin-top: 100px;">
                <h4>Crear Curso</h4>
            </div>
            <div class="w3-half" style="position: relative; top: -30px;">
                <div class="w3-center w3-animate-top" style="position: relative; top: 55px; z-index: 1;">
                    <button type="button"
                            class="w3-circle w3-border w3-border-white w3-topbar w3-bottombar w3-leftbar w3-rightbar"
                            onclick="document.getElementById('id_image').click();"
                            style="background-color: #4c4b4b; height:150px; width: 150px;">
                        <img src="/static/image/perfil/course/perfildefault.png" id="image_preview" class="w3-circle" style="height:100px; width: 100px;">
                    </button>
                </div>
                <div class="w3-row w3-white w3-round-large">
                    <div class="w3-col s12 m12 s12" style="margin-top: 35px;">
                        <div class="w3-row-padding w3-padding w3-animate-zoom">
                            <div class="w3-half w3-margin-top">
                                <label for="id_name"><i class="fa fa-user w3-opacity"></i> Nombre</label>
                                {{ courseInformationForm.name }}
                            </div>
                            <div class="w3-half w3-margin-top">
                                <label for="id_capacity"><i class="fa fa-users w3-opacity"></i> Capacidad</label>
                                {{ courseInformationForm.capacity }}
                            </div>
                            <div class="w3-half w3-margin-top">
                                <label for="id_yearMin"><i class="fa fa-users w3-opacity"></i> Edad Minima</label>
                                {{ courseInformationForm.yearMin }}
                            </div>
                            <div class="w3-half w3-margin-top">
                                <label for="id_yearMax"><i class="fa fa-users w3-opacity"></i> Edad Maxima</label>
                                {{ courseInformationForm.yearMax }}
                            </div>
                            <div class="w3-hide">
                                {{ courseInformationForm.image }}
                            </div>
                        </div>
                        <div class="w3-row-padding w3-padding w3-animate-zoom w3-center w3-centered">
                            <div class="w3-margin-top">
                                <h5 class="w3-animate-top"><strong style="color: #4c4b4b;">Convocatoria</strong></h5>
                                <div class="w3-row-padding">
                                    <div class="w3-row">
                                        <div class="w3-half w3-right-align w3-padding-right">
                                            <button id="calendario_inicio" type="button" class="w3-btn w3-green w3-round w3-large es-shadow"
                                                    onclick="document.getElementById('modalFecha').style.display='block';
                                                    document.getElementById('modalFechaTitulo').innerHTML='Inicio'">
                                                    <i class="fa fa-calendar-o"></i> Inicio
                                            </button>
                                            <p class="w3-large w3-margin-top" id="idFechaOpen"></p>
                                        </div>
                                        <div class="w3-half w3-left-align w3-padding-left">
                                            <button type="button" id="calendario_fin" class="w3-btn w3-red w3-round w3-large es-shadow"
                                                    onclick="document.getElementById('modalFecha').style.display='block';
                                                    document.getElementById('modalFechaTitulo').innerHTML='Cierre'">Cierre
                                                <i class="fa fa-calendar-times-o"></i>
                                            </button>
                                            <p class="w3-large w3-margin-top" id="idFechaCierre"></p>
                                        </div>
                                        <div class="w3-hide">
                                            {{ courseInformationForm.openregistre }}
                                            {{ courseInformationForm.deadline }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w3-row-padding">
                            <div class="w3-margin-top w3-padding">
                                <label for="id_description"><i class="fa fa-align-justify w3-opacity"></i> Descripcion</label>
                                {{ courseInformationForm.description }}
                            </div>
                        </div>
                        <br>
                        <div class="w3-container w3-center">
                            <input type="submit" value="Crear" class="w3-btn w3-blue w3-large w3-animate-bottom w3-round-large es-shadow-large"
                                   style="background-color: #4c4b4b;">
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div id="modalFecha" class="w3-modal">
        <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width:350px">
            <div class="w3-center"><br>
                <span onclick="document.getElementById('modalFecha').style.display='none'"
                    class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright"
                    title="Close Modal">&times;</span>
                <h4 id="modalFechaTitulo"></h4>
            </div>
            <div class="w3-row w3-margin w3-margin-top">
                <div class="responsive-calendar w3-container w3-center w3-margin w3-margin-top">
                    <div class="w3-row w3-margin w3-margin-top">
                        <div class="w3-quarter">
                            <a class="pull-left" data-go="prev"><div class="btn btn-primary btn-xs"><i class="fa fa-angle-left"></i></div></a>
                        </div>
                        <div class="w3-half">
                            <h4><span data-head-year></span><br><b><span data-head-month></span></b></h4>
                        </div>
                        <div class="w3-quarter">
                            <a class="pull-right" data-go="next"><div class="btn btn-primary btn-xs"><i class="fa fa-angle-right"></i></div></a>
                        </div>
                    </div>
                    <div class="day-headers">
                        <div class="day header">L</div>
                        <div class="day header">M</div>
                        <div class="day header">M</div>
                        <div class="day header">J</div>
                        <div class="day header">V</div>
                        <div class="day header">S</div>
                        <div class="day header">D</div>
                    </div>
                    <div class="days" data-group="days"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $("#id_yearMin").change(
            function (){
                const yearMin = (new Number($("#id_yearMin").val()) + 1);
                $("#id_yearMax").attr("min", (yearMin > 10 ? yearMin : 10));
                $("#id_yearMax").val((yearMin > 10 ? yearMin : 10));
            });
    </script>
{% endblock %}