{% extends "base/base.html" %}
{% block titulo %}Nuevo Estudiante{% endblock %}
{% block titulo_seccion %}Nuevo Estudiante{% endblock %}
{% block seccion %}
    <form method="post" enctype="multipart/form-data" class="w3-form w3-container w3-animate-right">
        {% csrf_token %}
        <div class="w3-row">
            <div class="w3-half w3-hide-small" style="color: white; margin-top: 100px;">
                <div id="carousel_student" class="carousel slide w3-padding w3-padding-jumbo" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <h3>Chania 0</h3>
                            <div class="w3-padding-top w3-padding-left">
                                <p class="w3-large"><i class="fa fa-check fa-lg"></i> Pio nenterte, consimpl. Habute intiora, medo, quon det quam.</p>
                                <p class="w3-large"><i class="fa fa-calendar fa-lg"></i> Centis consus octam coti, consus te ces, quas la quo volii sed reses?</p>
                                <p class="w3-large"><i class="fa fa-certificate fa-lg"></i> Dectabit Catin pribultiur ut am trum omaions upplis es hoctumus</p>
                            </div>
                        </div>
                        <div class="item">
                            <h3>Chania 1</h3>
                            <div class="w3-padding-top w3-padding-left">
                                <p class="w3-large"><i class="fa fa-graduation-cap fa-lg"></i> Apecum henihin tiactabut dem, tesse alerfec telisse patam prit, pulum firidiendum popublique acta</p>
                                <p class="w3-large"><i class="fa fa-calendar fa-lg"></i> Veris vivitin immorum condacia non Itanum patia potessigna, vem ressili ciesid Catraelari cus</p>
                                <p class="w3-large"><i class="fa fa-certificate fa-lg"></i> Maed num ium pubis omnequi publica videt; nondam facivit</p>
                            </div>
                        </div>
                        <div class="item">
                            <h3>Chania 2</h3>
                            <div class="w3-padding-top w3-padding-left">
                                <p class="w3-large"><i class="fa fa-certificate fa-lg"></i> Sp. Fuitam ut omniu que conerdies cavertu riocrei praetoris viveris vitemena, uteato invemquam dii conius</p>
                                <p class="w3-large"><i class="fa fa-camera fa-lg"></i> Itaribus, que no. Ommor pone iaelica equidii coere actum me tam.</p>
                                <p class="w3-large"><i class="fa fa-calendar fa-lg"></i> Ellesil hil vera, caute const ad nicavernia re tu me conscidena, quem in Itanum ventemeror a me mo publi sed in videmusua Sciem, norit</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="w3-half" style="position: relative; top: -46px;">
                    <div class="w3-center w3-animate-top" style="position: relative; top: 55px; z-index: 1;">
                        <button type="button"
                                class="w3-circle w3-border w3-border-white w3-topbar w3-bottombar w3-leftbar w3-rightbar"
                                onclick="document.getElementById('id_image').click();"
                                style="background-color: #4c4b4b; height:150px; width: 150px;" data-toggle="tooltip" data-placement="bottom" title="Inserte su foto de perfil">
                            <img src="/static/image/perfil/student/perfildefault.png"
                                 id="image_preview"
                                 class="w3-circle" style="height:100px; width: 100px;">
                        </button>
                    </div>
                    <div class="w3-row w3-white w3-round-large">
                        <div class="w3-col l12 m12 s12" style="margin-top: 35px;">
                            <div class="w3-row-padding w3-padding w3-animate-zoom">
                                <div class="w3-half w3-margin-top">
                                    <label for="id_name"><i class="fa fa-user w3-opacity"></i> Nombre(s)</label>
                                    {{ studentPersonalInformationForm.name }}
                                </div>
                                <div class="w3-half w3-margin-top">
                                    <label for="id_name"><i class="fa fa-user w3-opacity"></i> Apellidos</label>
                                    {{ studentPersonalInformationForm.lastname }}
                                </div>
                                <div class="w3-half w3-margin-top">
                                    <label for="id_numberidentification"><i class="fa fa-drivers-license w3-opacity"></i> CI</label>
                                    {{ studentPersonalInformationForm.numberidentification }}
                                </div>
                                <div class="w3-half w3-margin-top">
                                    <label for="id_nacionality"><i class="fa fa-globe w3-opacity"></i> Nacionalidad</label>
                                    {{ studentPersonalInformationForm.nacionality }}
                                </div>
                                <div class="w3-half w3-margin-top">
                                    <label for="id_gender w3-opacity"><i class="fa fa-male w3-opacity"></i> <i class="fa fa-female w3-opacity"></i> Género</label>
                                    {{ studentPersonalInformationForm.gender }}
                                </div>
                                <div class="w3-hide">
                                    {{ studentPersonalInformationForm.image }}
                                </div>
                            </div>
                            <br><br>
                            <div class="w3-row-padding w3-padding-bottom w3-animate-zoom">
                                <h5 class="w3-animate-top"><strong style="color: #4c4b4b;">Contactos</strong></h5>
                                <div class="w3-half">
                                    <div class="w3-row">
                                        <div class="w3-col l12 m12 s12 w3-margin-top">
                                            <label for="id_street"><i class="fa fa-map-marker w3-opacity"></i> Calle</label>
                                            {{ studentPersonalInformationForm.street }}
                                        </div>
                                        <div class="w3-col l12 m12 s12 w3-margin-top">
                                            <label for="id_city"><i class="fa fa-map-marker w3-opacity"></i> Municipio</label>
                                            {{ studentPersonalInformationForm.city }}
                                        </div>
                                        <div class="w3-col l12 m12 s12 w3-margin-top">
                                            <label for="id_state"><i class="fa fa-map-marker w3-opacity"></i> Provincia</label>
                                            {{ studentPersonalInformationForm.state }}
                                        </div>
                                    </div>
                                </div>
                                <div class="w3-half w3-margin-top">
                                    <label for="id_cellphone"><i class="fa fa-mobile-phone w3-opacity"></i> Móvil</label>
                                    {{ studentPersonalInformationForm.cellphone }}
                                </div>
                                <div class="w3-half w3-margin-top">
                                    <label for="id_phone"><i class="fa fa-phone w3-opacity"></i> Teléfono</label>
                                    {{ studentPersonalInformationForm.phone }}
                                </div>
                                <div class="w3-half w3-margin-top">
                                    <label for="id_email"><i class="fa fa-envelope w3-opacity"></i> Email</label>
                                    {{ studentPersonalInformationForm.email }}
                                </div>
                            </div>
                            <br><br>
                            <div class="w3-row-padding w3-padding w3-animate-zoom">
                                <h5 class="w3-animate-top"><strong style="color: #4c4b4b;">Profesión</strong></h5>
                                <div class="w3-half w3-margin-top">
                                    <label for="id_degree"><i class="fa fa-black-tie w3-opacity"></i> Grado Científico</label>
                                    {{ studentPersonalInformationForm.degree }}
                                </div>
                                <div class="w3-half w3-margin-top">
                                    <label for="id_title"><i class="fa fa-black-tie w3-opacity"></i> Título</label>
                                    {{ studentPersonalInformationForm.title }}
                                </div>
                                <div class="w3-half w3-margin-top">
                                    <label for="id_ocupation"><i class="fa fa-black-tie w3-opacity"></i> Ocupación</label>
                                    {{ studentPersonalInformationForm.ocupation }}
                                </div>
                            </div>
                            <br>
                            <div class="w3-container w3-center">
                                <input type="submit" value="Siguiente" class="w3-btn w3-blue w3-large w3-animate-bottom w3-round-large"
                                       style="background-color: #4c4b4b;">
                            </div>
                            <br>
                        </div >
                    </div>
                    <br>
            </div>
        </div>
    </form>
{% endblock %}