{% extends "base/base.html" %}
{% block titulo %}Nuevo Profesor{% endblock %}
{% block titulo_seccion %}Nuevo Profesor{% endblock %}
{% block menu %}
    {% include 'base/menu.html' %}
    <div class="w3-overlay w3-animate-opacity" onclick="w3_close()" id="myOverlay"></div>

    <header class="w3-container w3-top w3-white w3-xlarge w3-padding-16 w3-hide-large w3-hide-medium">
        <span class="w3-opennav w3-xxlarge" onclick="w3_open()">☰</span>
    </header>
{% endblock %}
{% block seccion %}
    <form method="post" enctype="multipart/form-data" class="w3-form w3-container w3-animate-right">
        {% csrf_token %}
        <div class="w3-row">
            <div class="w3-half w3-hide-small" style="color: white; margin-top: 100px;">
                <h4>Crear Profesor</h4>
            </div>
            <div class="w3-half" style="position: relative; top: -30px;">
                <div class="w3-center w3-animate-top" style="position: relative; top: 55px; z-index: 1;">
                    <button type="button"
                            class="w3-circle w3-border w3-border-white w3-topbar w3-bottombar w3-leftbar w3-rightbar"
                            onclick="document.getElementById('id_image').click();"
                            style="background-color: #4c4b4b; height:150px; width: 150px;">
                        <img src="/static/image/perfil/teacher/perfildefault.png" id="image_preview" class="w3-circle" style="height:100px; width: 100px;">
                    </button>
                </div>
                <div class="w3-row w3-white w3-round-large">
                    <div class="w3-col s12 m12 s12" style="margin-top: 35px;">
                        <div class="w3-row-padding w3-padding w3-animate-zoom">
                            <div class="w3-half w3-margin-top">
                                <label for="id_name"><i class="fa fa-user w3-opacity"></i> Nombre(s)</label>
                                {{ teacherPersonalInformationForm.name }}
                            </div>
                            <div class="w3-half w3-margin-top">
                                <label for="id_name"><i class="fa fa-user w3-opacity"></i> Apellidos</label>
                                {{ teacherPersonalInformationForm.lastname }}
                            </div>
                            <div class="w3-half w3-margin-top">
                                <label for="id_numberidentification"><i class="fa fa-drivers-license w3-opacity"></i> CI</label>
                                {{ teacherPersonalInformationForm.numberidentification }}
                            </div>
                            <div class="w3-half w3-margin-top">
                                <label for="id_nacionality"><i class="fa fa-globe w3-opacity"></i> Nacionalidad</label>
                                {{ teacherPersonalInformationForm.nacionality }}
                            </div>
                            <div class="w3-half w3-margin-top">
                                <label for="id_pasaport"><i class="fa fa-globe w3-opacity"></i> Pasaporte</label>
                                {{ teacherPersonalInformationForm.pasaport }}
                            </div>
                            <div class="w3-half w3-margin-top">
                                <label for="id_gender w3-opacity"><i class="fa fa-male w3-opacity"></i> <i class="fa fa-female w3-opacity"></i> Género</label>
                                {{ teacherPersonalInformationForm.gender }}
                            </div>
                            <div class="w3-hide">
                                {{ teacherPersonalInformationForm.image }}
                            </div>
                        </div><br>
                        <div class="w3-row-padding w3-padding w3-animate-zoom">
                            <h5 class="w3-animate-top"><strong style="color: #4c4b4b;">Contactos</strong></h5>
                            <div class="w3-half">
                                <div class="w3-row">
                                    <div class="w3-col l12 m12 s12 w3-margin-top">
                                        <label for="id_street"><i class="fa fa-map-marker w3-opacity"></i> Calle</label>
                                        {{ teacherPersonalInformationForm.street }}
                                    </div>
                                    <div class="w3-col l12 m12 s12 w3-margin-top">
                                        <label for="id_city"><i class="fa fa-map-marker w3-opacity"></i> Municipio</label>
                                        {{ teacherPersonalInformationForm.city }}
                                    </div>
                                    <div class="w3-col l12 m12 s12 w3-margin-top">
                                        <label for="id_state"><i class="fa fa-map-marker w3-opacity"></i> Provincia</label>
                                        {{ teacherPersonalInformationForm.state }}
                                    </div>
                                </div>
                            </div>
                            <div class="w3-half w3-margin-top">
                                <label for="id_cellphone"><i class="fa fa-mobile-phone w3-opacity"></i> Móvil</label>
                                {{ teacherPersonalInformationForm.cellphone }}
                            </div>
                            <div class="w3-half w3-margin-top">
                                <label for="id_phone"><i class="fa fa-phone w3-opacity"></i> Teléfono</label>
                                {{ teacherPersonalInformationForm.phone }}
                            </div>
                            <div class="w3-half w3-margin-top">
                                <label for="id_email"><i class="fa fa-envelope w3-opacity"></i> Email</label>
                                {{ teacherPersonalInformationForm.email }}
                            </div>
                        </div><br>
                        <div class="w3-row-padding w3-padding w3-animate-zoom">
                            <h5 class="w3-animate-top"><strong style="color: #4c4b4b;">Profesión</strong></h5>
                            <div class="w3-half w3-margin-top">
                                <label for="id_degree"><i class="fa fa-black-tie w3-opacity"></i> Grado Científico</label>
                                {{ teacherPersonalInformationForm.degree }}
                            </div>
                            <div class="w3-half w3-margin-top">
                                <label for="id_title"><i class="fa fa-black-tie w3-opacity"></i> Título</label>
                                {{ teacherPersonalInformationForm.title }}
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="w3-container w3-center">
                        <input type="submit" value="Siguiente" class="w3-btn w3-blue w3-large w3-animate-bottom w3-round-large es-shadow-large"
                               style="background-color: #4c4b4b;">
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </form>
{% endblock %}